{% extends 'app/base.html' %} {% load static %}

{% block contenido %}

<h1 id="title"><i>Ingresar Departamentos</i></h1>


<form method="POST" class=" formulario_ingreso_depa post-form" action="/ingresarDepartamento/">
  {% csrf_token %}
  <div class="container">
    <br>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Nombre:</label>
      <div class="col-sm-4">
        {{ form.nombre}}
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Descripcion:</label>
      <div class="col-sm-4">
        {{ form.descripcion }}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">precio :</label>
      <div class="col-sm-4">
        {{ form.precio }}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">mantencion:</label>
      <div class="col-sm-4">
        {{ form.mantencion }}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Locacion:</label>
      <div class="col-sm-4">
        {{ form.id_Location}}
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-1 col-form-label"></label>
      <div class="col-sm-4">
        <button id="botom_ingresar_depa" type="submit" class="btn btn-primary">enviar</button>
      </div>
    </div>
  </div>
</form>




{% endblock %}