{% extends 'app/base.html' %}  {% load static %} 

{% block contenido %}

<div class="formulario_usuario">
    <form class="formulario_usuario" >
  
      <div class="imagen_icono">
        <img src="{% static 'app/imagenes/icono_usuario.jpg'%}" class="foto_icono"  alt="icono usuario">
      </div>
      
      <div class=" mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
        
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <li class="nav-item">
        <a  class="" aria-current="page" href="{% url 'registro' %}"><i class=""></i>Registrate <span class="sr-only"></span></a></span>
      </li>
      <button type="submit" class="btn btn-primary">Ingresar</button>
      
    
    </form>
  
  </div>


{% endblock  %}