
{% extends 'app/base.html' %}  {% load static %} 

{% block contenido %}

<form method="POST" class="post-form" action="/actualizarLocation/{{locacion.id}}">
    
    {% csrf_token%}
    <div class="contenedor">
        <br>
        <div class="fila de grupo de formulario">
            <label class="col-sm-1 col-form-label"> </label>
            <div class="col-sm-4">
                <h3> Detalles de la actualización </h3>
            </div>
        </div>
        <div class="fila de grupo de formulario">
            <label class="col-sm-2 col-form-label"> Identificación de locacion: </label>
            <div class="col-sm-4">
                <input type="text"  name="id" id="id_id" required maxlength="" value="{{ locacion.id }}" readonly/> 
            </div>
        </div>
        <div class="fila de grupo de formulario">
            <label class="col-sm-2 col-form-label"> region: </label>
            <div class="col-sm-4">
                <input type="text" name="region" id="id_region" required maxlength="50" value="{{ locacion.region }}"/> 
            </div>
        </div>
        <div class="fila de grupo de formulario">
            <label class="col-sm-2 col-form-label"> Numero: </label>
            <div class="col-sm-4">
                <input type="text" name="numero" id="id_numero" required maxlength="10" value="{{ locacion.numero }}"/> 
            </div>
        </div>
        <div class="fila de grupo de formulario">
            <label class="col-sm-2 col-form-label"> Nombre: </label>
            <div class="col-sm-4">
                <input type="text" name="nombre" id="id_nombre" required maxlength="50" value="{{ locacion.nombre }}"/> 
            </div>
        </div>
        <div class="fila de grupo de formulario">
            <label class="col-sm-2 col-form-label"> Complemento: </label>
            <div class="col-sm-4">
                <input type="text" name="complemento" id="id_complemento" required maxlength="" value="{{ locacion.complemento }}"/>
            </div>
        </div>
        <div class="fila de grupo de formulario">
            <label class="col-sm-1 col-form-label"> </label>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-success"> Actualizar </button>
            </div>
        </div>
        
    </div>
</form>

<b><p>El error es: {{ formulario.as_p }}</p></b>

<!-- {% if formulario.errors %}
    {% for field in formulario %}
        {% for error in field.errors %}
            <br>{{ error }}<br>
        {% endfor %}
    {% endfor %}
{% endif %} -->


{% endblock  %}

















