/* css base.menu */
#navegador_prueba{
    
    height: 70px;
    background: rgb(17, 197, 17);
    margin: auto;
}

#nombresNav{
    font-size: 1,2rem;
    margin-left: 50px;
    
}

#navbarBase{
    margin-left: 573px;

}

footer {
    color: #ffffff;
    margin-top: 10px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 80%;
}

footer a {
    margin-right: 10px;
}

footer hr {
    background-color: #474747;
    border: solid 1px;
}
/* end css base.menu */


/* ----------------------------------------------------------------------------------------------- */
/* css index.html */

.imagen_carrusel{
    height: 390px;
}

.carrucel{
    height: 390px;
    margin: auto;
}

/* ----------------------------------------------------------------------------------------------- */
/* css Login.html */



.formulario_usuario{
    margin-right: 202px;
    margin-left: 202px;
    margin-top: 39px;
    margin-bottom: 27px;
    padding-bottom: -4px;
   
}


.imagen_icono{
    
    margin-bottom: 15px;
    margin-left: 175px;
}

.foto_icono{
    
     width: 175px;
 
}


/* reserva ------------------------------------*/

#div_reserva{

    background-color:#ccffee;
    height: 449px;
    margin-right: auto;
    right: 61px;
    border: cornsilk;
}

#detalle_depa{

    background-color:#00b377;
    right: 2px;
    width: 348px;

}


#butom_reserva{

    background-color: #d9d9d9; 
    margin-left: 104px;
    margin-top: 6px;
    width: 131px;

}

#ul_depa{

   
    text-align: center;
    border-color:  #404040;
}

.articulos-listar-imagen {
    width: 346px;
    /* height: 100px;
    border-radius: 100%; */
}

.texto_descripcion{
 margin-left: 63px;
}

.contenedor_descripcion{
    width: 90px;
}

#letra_reserva{
    font-family: Arial, Helvetica, sans-serif;
    color: #404040;
}

/* arriendo -----------------------------------------*/

#title{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}



/* departamento */

.formulario_ingreso_depa{
    margin-right: -226px;
    margin-top: 41px;
}

#botom_ingresar_depa{
    width: 186px;
    margin-left: 87px;
    margin-top: 10px;
}

/* #registroNombre {
    border-radius: 100;
    margin-right: 100px;
    width: 60px;
} */

.label_ingreso_depa{
    
}